{
  "prettier.tabWidth": 2,
  "prettier.useTabs": false,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.jsxSingleQuote": true,
  "prettier.bracketSpacing": true,
  "prettier.jsxBracketSameLine": false
}
